@font-face {
    font-family: Gilroy ;
    src: url(Gilroy-Heavy.ttf);
}/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: white;
    font-family:Gilroy;
    
}

/* Style the navigation bar */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: clamp(10px,20px,25px);
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    color: #fff;
}

/* Hover effect for navigation links */
ul li:hover {
    text-decoration: underline;
}

/* Style the container */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: clamp(20px,32px,40px);
    margin-bottom: 20px;
}

p {
    font-size: clamp(8px , 18px , 25px);
    line-height: 1.6;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Style the form */
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style buttons and add hover effect */
.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.btnsm{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.btnsm:hover {
    background-color: #555;
}
img{
    cursor: pointer;
}
.alert{
    display: none;
}